<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
   
   
                           <th th:fragment="column_link(fieldName,columnLable)">
                           <a  class="text-white"
							th:href="@{'/users/page/' +${currentPage}+ '?sortField='+${fieldName}+'&sortDir=' + ${sortDir!=firstName?sortDir:reverseSortDir} + ${keyword!=null? '&keyword=' + keyword:''}}" >
						[[${columnLable}]]
							</a>
							<span th:if="${sortField== fieldName}"
							th:class="${sortDir=='asc'? 'fas fa-sort-up':'fas fa-sort-down'}"
							></span>
							</th>


</body>
</html>