<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thyemleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Shopme Admin Conrole Panel')"> </head>
<body>

	<div class="container-fluid">
	
<!-- 1nav bar -->	  
<div th:replace="navigation ::menu"></div>
			
<!-- 2for nav bar --><div>
				       <h2>Shopme Control Panel</h2>
				       Welcome
				       <a th:href="@{/account}"
							sec:authentication="principal.fullname"></a>
						
							<span sec:authentication="principal.authorities"></span>
<!-- 2for nav bar --> </div>

<div th:replace="fragments :: footer"></div>
		</div>
	

</body>
<script th:src="@{/js/common.js}"></script>
</html>